.questionPanel{
	background-color: red;
	opacity:1;
	position:relative;
	text-align: center;
}
.qText{
	position: absolute;
	top:50%;
	left:50%;
	color:white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ansPanelTop .ansPanelBot{
  width:80vw;
	height:90px;
	opacity:0;
}
.ansText .ansLetter {
	font-size: 43pt;
	font-family:'Times New Roman';
	color:#ffffff;
	left:188px;
	top:19px;
	opacity:0;
}
.finalImg .correctImg{
	opacity:0;
}
.moneyTree{
	opacity:0;
}