.questionPanel{
	width:100vw;
	height:180px;
	opacity:1;
	position:relative;
}
.questionPanel .qText{
	position: absolute;
  top: 0;
  left: 0;
}
.qText{
	z-index: 1;


}
.ansPanelTop .ansPanelBot{
  width:100vw;
	height:90px;
	opacity:0;
}
.ansText .ansLetter {
	font-size: 43pt;
	font-family:'Times New Roman';
	color:#ffffff;
	left:188px;
	top:19px;
	opacity:0;
}
.finalImg .correctImg{
	opacity:0 ;
}
.moneyTree{
	opacity:0;
}